@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

#colorIndex {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1695d8), color-stop(#0285cc), color-stop(#0075c0), color-stop(#0065b3), color-stop(#0455a5), color-stop(#03509e), color-stop(#014c96), color-stop(#00478f), color-stop(#004c8b), color-stop(#005086), color-stop(#005380), to(#13567a));
  background-image: linear-gradient(to bottom, #1695d8, #0285cc, #0075c0, #0065b3, #0455a5, #03509e, #014c96, #00478f, #004c8b, #005086, #005380, #13567a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.navbar ul li a {
  font-size: 20px;
}

.idioma {
  width: 20px;
  margin: auto auto 2px auto;
}

.logo {
  width: 70px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparece;
          animation-name: aparece;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparece {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes aparece {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9;
  }
}

.marg2 {
  color: #fff;
  padding: 50px;
  margin: 50px auto;
}

.marg2 img {
  width: 80px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto 20px auto;
  border: solid 1px #fff;
  border-radius: 90%;
  width: 300px;
}

.marg2 h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marg1 {
  color: #fff;
  padding: 50px;
  margin: 50px auto;
}

.marg1 h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: auto auto 80px auto;
}

.marg1 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto 70px auto;
  width: 300px;
}

.marg1 p {
  width: 500px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.portfolio img {
  width: 200px;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .hidden {
    display: none !important;
  }
}
/*# sourceMappingURL=estilos.css.map */