@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@use "sass:string";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Roboto Condensed", sans-serif;
}

.black {
  background-color: black;
}

#colorIndex {
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
}

.navbar {
  width: 100%;
  height: 80%;
  border-top: 5px solid #38A169;
  border-bottom: 1px solid whitesmoke;
}

.navbar ul li a {
  color: black !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.navbar ul li a:hover {
  color: #38A169 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.idioma {
  width: 20px;
  margin: auto auto 2px auto;
}

.logo {
  font-size: 20px;
  padding: 5px;
  margin: 15px;
  font-weight: 100;
  color: #38A169;
  border: solid 2px #38A169;
  border-radius: 5%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparece;
          animation-name: aparece;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparece {
  0% {
    border: solid 2px #38A169;
    border-radius: 10%;
  }
  25% {
    border: solid 2px #38A169;
    border-radius: 25%;
  }
  50% {
    border: solid 2px #38A169;
    border-radius: 50%;
  }
  75% {
    border: solid 2px #38A169;
    border-radius: 70%;
  }
  100% {
    border-radius: 100%;
  }
}

@keyframes aparece {
  0% {
    border: solid 2px #38A169;
    border-radius: 10%;
  }
  25% {
    border: solid 2px #38A169;
    border-radius: 25%;
  }
  50% {
    border: solid 2px #38A169;
    border-radius: 50%;
  }
  75% {
    border: solid 2px #38A169;
    border-radius: 70%;
  }
  100% {
    border-radius: 100%;
  }
}

.principalCard {
  color: #171923;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principalCard img {
  width: 300px;
}

.grid-container {
  margin: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 200px;
}

.grid-container h1 {
  font-size: 30px;
  font-weight: bold;
}

.grid-container h2 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.grid-container mark {
  background-color: #9ae6b4;
}

.grid-container img {
  margin: -80px auto auto auto;
  width: 250px;
  border: 1px solid #171923;
  border-radius: 90%;
}

.btnResumen {
  color: #38A169;
  border-color: #38A169;
}

.btnResumen a {
  text-decoration: none;
  color: #38A169;
}

.btnResumen a:hover {
  color: #fff;
}

.btnResumen:hover {
  color: #fff;
  background-color: #38A169;
  border-color: #38A169;
}

.btnResumen:hover a {
  color: #fff;
}

.cardFooter {
  margin-top: 102px;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #38A169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.cardFooter a {
  text-decoration: none;
  color: black;
}

.cardFooter a :hover {
  color: #38A169;
}

.cardFooter i {
  margin-top: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .hidden {
    display: none !important;
  }
}
/*# sourceMappingURL=estilos2.css.map */